
@{
    ViewData["Title"] = "Index";
}


<h1>Transfer</h1>
<form method="post">
    <input type="number" name="accountIdFrom" placeholder="Enter account number from..." />
    <input type="number" name="accountIdTo" placeholder="Enter account number to..." />
    <input type="number" step="0.01" name="amount" placeholder="Enter amount..." />
    <button asp-controller="Transfer" asp-action="Transfer">Transfer</button>
</form>

@if (TempData["Message"] != null)
{
    <div>
        @TempData["Message"]
    </div>
}

