@{
    ViewData["Title"] = "Alicina's bank";
}

@model ALMProject1.Web.Models.BankRepository

<h1>Alicina's bank</h1>

<div>
    <ul>
        @foreach (var item in Model.Customers)
        {
            <li>
                @item.Name, CustomerID: @item.CustomerId, Account: @item.AccountId
            </li>
        }
    </ul>
</div>